<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>KANBAN</title>
    <script src="../static/js/login_signup.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}"/>

</head>
<body>
<header>
    <div class="home-heading">
        <h1>Kanban : Task Management App</h1>
    </div>
    <br>    
</header>

<main>
    <h1> Login </h1>

    <div class="error" style="font-size: 13px;">
        {% if error %}
        <span>&#10060;</span> {{error}}
        <br>
        <br>
        {% endif %}
    </div>

    <form action="{{ url_for('login_validation') }}" method="post">

        User Name : <br>
        <input type="text" id="user_name" name="user_name" placeholder="user name" pattern="[A-Za-z0-9]+" title="user name should be alphanumeric between 4 & 14 characters" minlength="4" maxlength="14" required><br><br>

        Password : <br>
        <input type="password" id="password" name="password" placeholder="password" pattern="[A-Za-z0-9]+" minlength="4" maxlength="14" title="password should be alphanumeric between 4 & 14 characters" required><br>

        <p style="font-size: 13px;"><input type="checkbox" onclick="show_password()">Show Password </p>
        <button type="submit" class="button login-button">Login</button>
    </form>
    <br>
    <p id="break-line">-----------------------or-----------------------</p>
    <button type="submit" class="button signup-button"><a href="{{ url_for('signup') }}"> Don't have an account / SignUp ? </a></button>
    <button type="submit" class="button forgot-pass-button" onclick="alert('you can sent the request for changing the password to pb17****@gmail.com')">Forgot Password</button>

</main>
</body>
</html>